/***********************************************
HEADER SECTION
********************************************** */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #d5e99d;

  /* we added height because i want to make it sticky */
  height: 9.6rem;
  padding: 0 4.8rem;
  position: relative;
}

.logo {
  height: 2.2rem;
}

/***********************************************
NAVIGATION
********************************************** */
.nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4.8rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 500;
  color: #000;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #e67e22;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 1.5rem;
  background-color: #e67e22;
  color: #fff;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #b8651b;
}

/* MOBILE */
.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
}

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #333;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

/*STICKY NAVIGATION*/
.sticky .header {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 7rem;
  padding-top: 0;
  padding-bottom: 0;
  background-color: rgba(255, 255, 255, 0.97);
  z-index: 200;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
}

.sticky .section-hero {
  margin-top: 9.6rem;
}

/***********************************************
HERO SECTION
********************************************** */

.section-hero {
  background-color: #d5e99d;
  padding: 2.8rem 0 9.6rem 0;
}

.hero {
  max-width: 130rem;
  /* background-color: purple; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  padding: 0 3.2rem;
  gap: 9.6rem;
  align-items: center;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.hero-img {
  width: 100%;
}

.delivered-meals {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 8rem;
}

.customers {
  display: flex;
}

.customers img {
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
  margin-right: -1.6rem;
  border: 3px solid;
  color: #d5e99d;
}

.customers img:last-child {
  margin: 0;
}

.successfull-delivery {
  font-size: 1.7rem;
  font-weight: 500;
}

.successfull-delivery span {
  color: #e67e22;
  font-weight: 700;
}

/***********************************************
FEATURED IN SECTION
********************************************** */
.section-features {
  padding: 4.8rem 0 3.2rem 0;
}

.featured-in {
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 2.4rem;
}

.logos {
  display: flex;
  justify-content: space-around;
}

.logos img {
  height: 3rem;
  filter: brightness(0);
  opacity: 50%;
  color: #999;
}

/***********************************************
HOW IT WORKS SECTION
********************************************** */

.section-how {
  padding: 9.6rem 0;
}

.step-number {
  font-size: 9.8rem;
  font-weight: 600;
  color: #ccc;
  margin-bottom: 1.2rem;
}

.image-box {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.first-image {
  width: 35%;
}

.description {
  font-size: 1.8rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.text-box {
  display: grid;
  align-items: center;
}

.image-box::before,
.image-box::after {
  content: " ";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.image-box::before {
  width: 60%;
  padding-bottom: 60%;
  z-index: -2;
  background-color: #ddedb1;
}

.image-box::after {
  width: 45%;
  padding-bottom: 45%;
  background-color: #d5e99d;
  z-index: -1;
}

/***********************************************
MEALS SECTION
********************************************** */

.section-meals {
  padding: 9.6rem 0;
}

.meal {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.08);
  border-radius: 13px;
  overflow: hidden;
  transition: 0.4s all;
}
.meal:hover {
  transform: translateY(-1.2rem);
  box-shadow: 0 3.2rem 16.4rem rgba(0, 0, 0, 0.06);
}

.meal-content {
  padding: 3.4rem 4.8rem 4.8rem 4.8rem;
}

.meal-tags {
  margin-bottom: 12px;
  display: flex;
  gap: 0.4rem;
}

.tag {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #333;
  border-radius: 100px;
  font-weight: 600;
}

.tag-pescatarian {
  background-color: #82b5df;
}
.tag-vegetarian {
  background-color: #1ad526;
}

.tag-paleo {
  background-color: #fcc133ff;
}

.meal-title {
  font-size: 2.4rem;
  color: #333;
  font-weight: 600;
  margin-bottom: 3.2rem;
}

.meal-attributes {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.meal-attribute {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.meal-icon {
  height: 2.4rem;
  width: 2.4rem;
  color: #b8651b;
}

.meal-image {
  width: 100%;
}

.available-meals {
  text-align: center;
  font-size: 1.8rem;
}

/***********************************************
TESTIMONIALS SECTION
******************************/
.section-testimonials {
  background-color: #d5e99d;
  display: grid;
  grid-template-columns: 55fr 45fr;
  align-items: center;
}

.testimonial-container {
  padding: 9.6rem;
}

.testimonies {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 4rem;
  column-gap: 8rem;
}

.testimonial-img {
  width: 6.4rem;
  border-radius: 50%;
  margin-bottom: 1.6;
}

.testimonial-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 1.6rem;
}

.testimonial-name {
  font-size: 1.6rem;
  color: #6f6f6f;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.9rem;
  padding: 1.6rem;
}

.gallery-item {
  overflow: hidden;
}

.gallery-item img {
  display: block;
  width: 100%;
  width: 26.38rem;
  height: 18.38rem;
  transition: all 0.35s;
}

.gallery-item img:hover {
  transform: scale(1.1);
}

/***********************************************
PRICING SECTION
******************************/
.pricing-plan {
  border-radius: 15px;

  width: 75%;
}

.pricing-plan--complete {
  background-color: #f1e0d1;
  padding: 4.8rem;
  position: relative;
  overflow: hidden;
}

.pricing-plan--complete::after {
  content: "Best value";
  text-transform: uppercase;
  position: absolute;
  top: 6%;
  right: -18%;
  transform: rotate(45deg);
  font-size: 1.4rem;
  font-weight: 700;
  padding: 0.8rem 8rem;
  color: #333;
  background-color: #ffd43b;
}

.pricing-plan--starter {
  justify-self: end;
  padding: 4.8rem;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.08);
}

.pricing-header {
  text-align: center;
  margin-bottom: 4rem;
}

.plan-name {
  color: #e67e22;
  font-weight: 600;
  font-size: 2.4rem;
  text-transform: uppercase;
  letter-spacing: 0.75;
  margin-bottom: 3.2rem;
}
.plan-price {
  font-size: 6.2rem;
  font-weight: 500;
  color: #333;
  margin-bottom: 1.6rem;
}

.plan-price span {
  font-size: 3rem;
  font-weight: 500;
  margin-right: 0.8rem;
}

.plan-text {
  font-size: 1.6rem;
  line-height: 1.6;
  color: #6f6f6f;
}

.pricing-sign-up {
  text-align: center;
  margin-top: 4.8rem;
}

.plan-details {
  font-size: 1.6rem;
  line-height: 1.6;
  text-align: center;
}

.feature-icon {
  color: #e67e22;
  height: 3.2rem;
  width: 3.2rem;
  background-color: #fdf2e9;
  padding: 1.6rem;
  border-radius: 50%;
  margin-bottom: 3.2rem;
}

.feature-title {
  font-size: 2.4rem;
  color: #333;
  font-weight: 700;
  margin-bottom: 1.6rem;
}

.feature-text {
  font-size: 1.8rem;
  line-height: 1.8;
}

.feature {
  /* padding: 1rem; */
}

/***********************************************
CALL TO ACTION SECTION
******************************/

.section-cta {
  padding: 12.8rem 0rem 9.6rem 0;
}

.cta-grid {
  display: grid;
  grid-template-columns: 2fr 1fr;

  /* height: 50rem; */
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
  border-radius: 1.5rem;

  background-image: linear-gradient(to bottom right, #d5e99d, #808c5e);
  overflow: hidden;
}

.cta-text-box {
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;
}

.cta-grid .heading-secondary {
  margin-bottom: 3.2rem;
}

.cta-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 4.8rem;
}

.cta-image-box {
  background-image: linear-gradient(
      to bottom right,
      rgba(213, 233, 157, 0.35),
      rgba(128, 140, 94, 0)
    ),
    url("../img/eating2.jpg");
  background-size: cover;
  background-size: center;
}

.cta-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}

.cta-form label {
  display: block;
  font-size: 1.7rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}

.cta-form input,
.cta-form select {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  background-color: #fdf2e9;
  border-radius: 9px;
  box-shadow: 0 1px 2px rgba 0, 0, 0, 0.1;
}

.cta-form input::placeholder {
  color: #bbb;
}

.cta-form select {
}

.cta-grid :focus {
  outline: none;
  /* outline: 6px dotted #043e11;
  outline-offset: 8px; */
  box-shadow: 0 0 0 0.8rem rgb(253, 242, 233, 0.5);
}

/***********************************************
FOOTER SECTION
******************************/
.footer {
  padding: 8.8rem 0;
  margin-top: 12rem;
  background-color: #eee;
}

.grid5-setting {
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
}

.logo-col {
  display: flex;
  flex-direction: column;
}

.footer-logo {
  display: block;
  margin-bottom: 3.2rem;
}

.footer-heading {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 4rem;
}

.social-links {
  list-style: none;
  display: flex;
  gap: 2.4rem;
}

.social-icon {
  height: 2.4rem;
  width: 2.4rem;
}

.copyright {
  font-size: 1.4rem;
  color: #767676;
  line-height: 1.6rem;
  margin-top: auto;
}

.contacts {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
}

.adress {
  margin-bottom: 2.4rem;
}

.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #767676;
  transition: all 0.3s;
  margin-bottom: 2rem;
}

.footer-link:hover,
.footer-link:active {
  color: #555;
}
